body{

margin: 0px 150px;
font-family: 'Courier New', Courier, monospace;
background-color: antiquewhite;

}
#title{

background-color: aliceblue;
text-align: center;
font-weight: 700;
padding: 25px;
margin: 0px 0px;

}
.image.main{

height: auto;
width: 400px;

margin-top: 20px;

}
.ingredients{
    border: 2px solid black;
    background-color: white;
    padding: 10px;
}